body {
    margin: 0;
    padding: 0;
    background: #adb5bd;
    font-family: Arial, sans-serif;
    color: black;
}

.container {
    max-width: 450px;
    width: 90%;
    margin: auto;
    margin-top: 10%;
    padding: 4%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5%;
    max-width: 100%;
}

td {
    padding: 2%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

input[type="number"] {
    width: 100%;
    padding: 2%;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: black;
    border-radius: 5px;
    max-width: 100%;
    outline: none;
}

input[type="submit"] {
    background-color: #e74c3c;
    color: #fff;
    padding: 2% 4%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 100%;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #c0392b;
}

.output {
    margin-top: 5%;
    font-size: 16px;
}
